@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Jost&family=Rubik&family=Varela+Round&display=swap');

body{
  background-color: #fff;
}
.bg-main-color {
  background-color: #7952B3;
}

.text-main-color{
  color: #323232;
}

.secondary-color {
  color: #fff;
}

.text-primary-color {
  color: #323232;
}

.text-secondary-color {
  color: #494856;
}

.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #faf5ff8a;
}

/* .bg-secondary-color{
  background-color: #F2EFEA;
}

.bg-secondary-color{
  background-color: #FBFBFB;
}

.bg-secondary-color{
  background-color: #E1F2FE;
} */

.font-primary {
  font-family: "Crimson Text";
}

.font-secondary {
  font-family: "Rubik";
}

.font-tertiary{
  font-family: 'Lato';
}

.text-xxs{
  font-size: 10px;
}

.pill{
  border-radius: 100px;
  padding: 0px 8px;
  background: rgb(255, 207, 207);
  font-size: 10px;
}

.clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

input[type="checkbox"] { /* change "blue" browser chrome to yellow */
  filter: invert(100%) hue-rotate(18deg) brightness(1.7);
}